<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="menu_report_pos_3"
              name="Dự trù mua hàng"
              action="ttb_point_of_sale.ttb_report_pos_action"
              parent="purchase.menu_purchase_root"
              sequence="99"/>
    <menuitem id="menu_report_coverage"
          name="Báo cáo độ phủ"
          parent="point_of_sale.menu_point_root"
          sequence="99"/>
    <menuitem id="menu_report_purchase_delivery"
          name="Báo cáo giao hàng thời vụ"
          action="ttb_point_of_sale.wizard_purchase_delivery_action"
          parent="point_of_sale.menu_point_root"
          sequence="99"/>
    <menuitem id="menu_report_coverage_week"
          name="Báo cáo độ phủ theo tuần"
          action="ttb_point_of_sale.wizard_coverage_week_action"
          parent="menu_report_coverage"
          sequence="99"/>
    <menuitem id="menu_report_coverage_month"
          name="Báo cáo độ phủ theo tháng"
          action="ttb_point_of_sale.wizard_coverage_month_action"
          parent="menu_report_coverage"
          sequence="99"/>
    <menuitem id="menu_ttb_coverage_config"
          name="Cấu hình tồn tối thiểu"
          action="ttb_point_of_sale.action_ttb_coverage_config"
          parent="menu_report_coverage"
          sequence="99"/>
    <menuitem id="menu_report_points_card"
        name="Báo cáo điểm thẻ"
        parent="point_of_sale.menu_point_root"
        sequence="99"/>
    <menuitem id="menu_report_customer_identification"
        name="Báo cáo định danh khách hàng"
        parent="point_of_sale.menu_point_root"
        action="ttb_point_of_sale.report_customer_identification_action"
        sequence="99"/>
    <menuitem id="menu_report_accumulate_points"
        name="Báo cáo khách hàng phát sinh tích điểm"
        action="ttb_point_of_sale.report_accumulate_points_action"
        parent="menu_report_points_card"
        sequence="11"/>
    <menuitem id="menu_report_total_earned_spent_points"
        name="Báo cáo khách hàng tích tiêu điểm"
        action="ttb_point_of_sale.report_total_earned_spent_points_action"
        parent="menu_report_points_card"
        sequence="12"/>
</odoo>
